<?xml version="1.0" encoding="UTF-8"?>

<Examples xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/net.sf.owt.gwidgets/example/content.xsd">
  <Example language="en">
    <ExampleField><![CDATA[2]]></ExampleField>
  </Example>
</Examples>